{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
<div class="row justify-content-center">
    <img class="my_image_padding" src="{% static 'img/banner.png' %}" alt="Our products">
</div>
<br>
<div>

    <h1 class="text-center my_title">About Us</h1>
    <p class="text-justify">University comes with lots of features that a modern WordPress education theme need to have. Some of those features include: responsive design, Slider Revolution included, Facebook & Disqus comments integration, Event Management, Course Management, and Built-in Event Calendar. We believe University is one of the perfect WordPress themes for education organizations’ websites. Furthermore, our educational WordPress theme includes 7 home page demos which you can import into your website within few clicks. You are also able to easily customize the theme as your liking by using its powerful Theme Options panel and drag-drop page builder.</p>
</div>
</div>
<br>
<br>

{% endblock %}

