{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row mt-2 mb-5">
    <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="card-container card col-md-6 col-lg-4" style="box-shadow: 0 0 10px #006400; padding: 10px; background-color:#003300;">
            <h2 class="text-center mb-3" style="color: #FFFAF0;">Registration</h2>
            <form action="register" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label style="color: #FFFAF0;">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                </div>
                <div class="mb-2">
                    <label style="color: #FFFAF0;">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                </div>
                 <div class="mb-2">
                    <label style="color: #FFFAF0;">Confirmation Password</label>
                    <input type="password" class="form-control" name="confirmation_password" placeholder="Enter confirmation password">
                </div><br>
                <button type="submit" class="btn btn-success btn-lg btn-block mb-4">Register</button>
            </form>
            {% for msg in messages %}
                <p class="error-message mt-3 text-center" style="color: #ff0000;">{{ msg }}.</p>
            {% endfor %}
        </div>
    </div>
        </div>
    </div>

{% endblock %}



